# Copy this file to .env.local
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api
NEXT_PUBLIC_OSM_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
NEXT_PUBLIC_NOMINATIM_API_URL=https://nominatim.openstreetmap.org/search
NEXT_PUBLIC_GOOGLE_CLIENT_ID=774474704168-oql08dj6h8qbft7rl1405c4qfom7n85u.apps.googleusercontent.com
